version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: myProject
    volumes:
      - mongodb_data:/data/db

  backend:
    image: sachindevgantayat143/my-project:latest
    container_name: backend
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      MONGO_URL: mongodb://mongo:27017/myProject
      PORT: 8080

  frontend:
    image: sachindevgantayat143/my-project:latest
    container_name: frontend
    restart: always
    ports:
      - "4200:4200"
    environment:
      API_URL: http://13.233.155.154:8080  # or Nginx reverse proxy

volumes:
  mongodb_data:
